body {
  margin: 0;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.get-data-button {
  width: 5%;
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.table td,
.table th {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
